<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifique seu E-mail</title>
</head>
<body>
    <header>
        <h1>verificacao de email</h1>

        <form action="/email_confirm" method="POST">
            <label for="codigo_de_confirmação">Codigo de aquiiii Confirmação:</label>
            <input
                type="text"
                id="confirm_email"
                name="confirm_email"
                required
            >
            <br><br>
            <button type="submit">Confirmar</button>
        </form>
        {% if erro %}
            <p style="color: red;"> {{ erro }}</p>
        {% endif %}
    </header>
</body>
</html>