<!DOCTYPE html>
<html>
<head>
    <title>sing_up</title>
</head>
<body>
    <h1>sing_up</h1>
    
    <form action="/sing_up" method="POST">
        <!-- Campo de Email -->
        <label for="email">Email:</label>
        <input 
            type="email" 
            id="email" 
            name="email" 
            placeholder="seu@email.com" 
            required
        >
        <br><br>

        <!-- Campo de Senha -->
        <label for="senha">Senha:</label>
        <input 
            type="password" 
            id="senha" 
            name="senha" 
            placeholder="Digite sua senha" 
            required
            minlength="6" maxlength="20"
        >
        <small>Senha deve ter no mínimo 6 caractees.</small>
        <br><br>
        <button type="submit">Criar</button>
    </form>

    {% if erro %}
            <p style="color: red;">{{ erro }}</p>
    {% endif %}
    {% if erro_lenMAX %}
            <p style="color: red;">{{ erro_lenMAX }}</p>
    {% endif %}
    {% if erro_lenMIN %}
            <p style="color: red;">{{ erro_lenMIN }}</p>
    {% endif %}

</body>
</html>