<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remover Fundo</title>
</head>
<body>
    <header>
        <h1>Fundo Rmover</h1>
        <form action="/sing_up" method="GET">
            <button type="submit">Ir para Login</button>
        </form>
    </header>

    <h1>Remover Fundo de imagem</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="imagem" accept="imagem/*" required>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>